body{
  text-align:center;
  background-color: #FFF8DC;
}
.name{
  font-family: 'Lobster', cursive;
  text-align: center;
  color:red;
}
.job{
  font-family: 'Lobster', cursive;
  font-size: 40px;
  color:#728FCE;
}
.img{
  height: 20%;
  width: 20%;
  margin-left: 10px;
  border-radius: 55px;
}
button{
  font-size: 20px;
}
.a{
  font-size: 40px;
}
.b{
  font-size: 40px;
}
.c{
  font-size: 30px;
}
.links{
  font-size: 30px;
}
.fifth{
  font-size: 30px;
}
